/* CSS BY Savannah Albazi */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender:#6B8FE7;
    --yellow:#E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */

body {
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--lavender);
    color: var(--dark-gray);
}

main {
    background-color: var(--purple);
    padding: 10px;
}

header {
    text-align: center;
    padding: 30px;
    background-color: var(--purple);
}

header h1 {
    font-family: 'Kavoon', cursive;
    font-size: 3em;
    color: var(--white);
    margin-bottom: 10px;
}

header p {
    font-family: 'inter';
    font-style: italic;
    font-size: 1em;
    color: var(--white);
}

nav { /* menu */
    background-color: var(--yellow);
    padding: 10px;
    text-align: center;
}

nav h2{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 15px;
}

nav a { /* menu end */
    background-color: var(--white);
    font-family: 'Inter';
    font-weight: 780;
    display: block;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    width: 85%;
    text-decoration: none; 
}

section h2 { /* our services */
    font-family: 'Kavoon', cursive;
    font-size: 2em;
    color: var(--white);
    margin-bottom: 10px;
    margin-left: 10px;
}

section h3 {
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
    margin-left: 10px;
}

section h4 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.15em;
    color: var(--purple);
    margin-bottom: 15px;
}

section p {
    font-family: 'Inter';
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

main article {
    background-color: var(--white);
    border-radius: 5px;
    margin: 20px;
    padding: 15px
}

main article img { /* images */
    display: block;
    margin-bottom: 10px;
}

#why-choose-us {
    background-color: var(--pink);
    padding: 10px;
}

#why-choose-us ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 20px;
}

#why-choose-us li {
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

.item1 {
    background-color: var(--teal);
}

.item2 {
    background-color: var(--lavender);
}

.item3 {
    background-color: var(--yellow);
}

.item4 {
    background-color: var(--white);
}

#pricing section {
    margin-bottom: 25px;
}

#pricing table {
    width: auto;
    margin: 10px auto 20px auto;
    border: 2px solid var(--yellow);
    background-color: var(--white);
    border-collapse: separate;
    border-spacing: 0;
}

#pricing th { /* service/cost */
    background-color: var(--yellow);
    font-family: 'Inter';
    font-weight: bold;
}

#pricing th,
#pricing td {
    border: 1px solid var(--yellow);
    padding: 16px 18px;
    font-family: 'Inter';
}