/* CSS BY Savannah Albazi */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender:#6B8FE7;
    --yellow:#E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */

body {
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--dark-gray);
}

header {
    text-align: center;
    padding: 20px 10px;
    background-color: var(--purple)
}

header h1 {
    font-family: 'Kavoon', cursive;
    font-size: 3em;
    color: var(--white)
}

header p {
    font-family: 'inter';
    font-style: italic;
    font-size: 1em;
    color: var(--white);
}

nav {
    background-color: var(--yellow);
    padding: 10px;
    text-align: center;
}

nav h2{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 15px;
}

nav a {
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
    text-decoration: none; 
    border-radius: 5px;
}

section h2 {
    font-family: 'Kavoon', cursive;
    font-size: 2em;
    color: var(--white);
    padding: 10px;
}

section h3 {
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
    padding: 10px
}

section h4 {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.15em;
    color: var(--white);
    margin-bottom: 15px;
}

